# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc

# Env
.env
.env.local

# OS
.DS_Store

backend/secrets/

backend/Miniconda3-latest-Linux-x86_64.sh

# Large installers
backend/Miniconda3-latest-Linux-x86_64.sh

# Python venvs
backend/.venv/
.venv/

# Large installers
backend/Miniconda3-latest-Linux-x86_64.sh
